<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="fd9771">  <td>16/06/20 15:06:07</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;NewTestTestNG.postcondition()[pri:0, instance:com.qspider.com.qspider.webDriver.NewTestTestNG@4c402120]">&lt;&lt;postcondition</td> 
<td>&nbsp;</td>  <td>main@1574598287</td>   <td></td> </tr>
<tr bgcolor="fd9771">  <td>16/06/20 15:06:28</td>   <td>21211</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;NewTestTestNG.postcondition()[pri:0, instance:com.qspider.com.qspider.webDriver.NewTestTestNG@4c402120]">&lt;&lt;postcondition</td> 
<td>&nbsp;</td>  <td>main@1574598287</td>   <td></td> </tr>
<tr bgcolor="fd9771">  <td>16/06/20 15:05:54</td>   <td>-12920</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NewTestTestNG.precondition()[pri:0, instance:com.qspider.com.qspider.webDriver.NewTestTestNG@4c402120]">&gt;&gt;precondition</td> 
<td>&nbsp;</td>  <td>main@1574598287</td>   <td></td> </tr>
<tr bgcolor="fd9771">  <td>16/06/20 15:06:07</td>   <td>516</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NewTestTestNG.precondition()[pri:0, instance:com.qspider.com.qspider.webDriver.NewTestTestNG@4c402120]">&gt;&gt;precondition</td> 
<td>&nbsp;</td>  <td>main@1574598287</td>   <td></td> </tr>
<tr bgcolor="fd9771">  <td>16/06/20 15:06:05</td>   <td>-1871</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewTestTestNG.test1()[pri:0, instance:com.qspider.com.qspider.webDriver.NewTestTestNG@4c402120]">test1</td> 
  <td>main@1574598287</td>   <td></td> </tr>
<tr bgcolor="fd9771">  <td>16/06/20 15:06:26</td>   <td>19399</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewTestTestNG.test2()[pri:0, instance:com.qspider.com.qspider.webDriver.NewTestTestNG@4c402120]">test2</td> 
  <td>main@1574598287</td>   <td></td> </tr>
</table>
