<h2>Reporter output</h2><table><tr><td>Lounching FF Browser</td></tr>
<tr><td>Navigating to URLhttp://149.24.34.252:8080/PlatformSandboxApp/ssb/home</td></tr>
<tr><td>Closing Browser</td></tr>
<tr><td>Lounching FF Browser</td></tr>
<tr><td>Navigating to URLhttp://149.24.34.252:8080/PlatformSandboxApp/ssb/home</td></tr>
<tr><td>Closing Browser</td></tr>
</table>