<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="64a371">  <td>15/11/19 15:59:20</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NewTestTestNG.precondition()[pri:0, instance:com.qspider.com.qspider.webDriver.NewTestTestNG@270421f5]">&gt;&gt;precondition</td> 
<td>&nbsp;</td>  <td>main@754666084</td>   <td></td> </tr>
<tr bgcolor="64a371">  <td>15/11/19 15:59:40</td>   <td>20184</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewTestTestNG.test1()[pri:0, instance:com.qspider.com.qspider.webDriver.NewTestTestNG@270421f5]">test1</td> 
  <td>main@754666084</td>   <td></td> </tr>
<tr bgcolor="64a371">  <td>15/11/19 15:59:40</td>   <td>20186</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;NewTestTestNG.postcondition()[pri:0, instance:com.qspider.com.qspider.webDriver.NewTestTestNG@270421f5]">&lt;&lt;postcondition</td> 
<td>&nbsp;</td>  <td>main@754666084</td>   <td></td> </tr>
</table>
