<h2>Reporter output</h2><table><tr><td>Lounching FF Browser</td></tr>
<tr><td>Navigating to URLhttp://m040167.sungardhe.com:8980/FacultyAttendanceTrackingSsb/login/auth</td></tr>
<tr><td>Open Browser</td></tr>
<tr><td>Closing Browser</td></tr>
</table>